:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1e5712;
  --secondary-color: #1b480cf3;
  --tertiary-color: #6290a1;
  --inactive-color: #737575fa;
  --backgroud-color: #b7d2f1;
  --border-color: #cccccc;
  --font-color: #171809;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-input {
  max-width: 900px;
  display: flex;
  padding: 25px;
  flex-flow: wrap;
  justify-content: space-between;
}

.form-input > div {
  width: 200px;
  height: 45px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}